<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>Create a Post!</title>
    </head>
    <body>
        <header>
            <nav class="fixedContainer">
                <div class="start">
                    <div class="menuIcon">
                        <div class="menuIconBars"></div>
                        <div class="menuIconBars"></div>
                        <div class="menuIconBars"></div>
                    </div>
                    <a id="homeArticle" href="/">Home</a>
                </div>
                <div class="middle">
                    <input class="searchBar" type="search"
                        placeholder="Search...">
                </div>
                <div class="end">
                    {{if .LoggedUser.IsLoggedIn}}
                    <h3 id="user-info">Welcome, <h4 id="user-info"
                            class="inline"
                            style="padding-left: 4px; color: azure;">{{.LoggedUser.Username}}</h4></h3>
                    <span class="padding"></span>
                    <a href="/create-a-post">New Post</a>
                    <span class="padding"></span>
                    <a href="/logout">Logout</a>
                    {{else}}
                    <a href="/login">Login</a>
                    {{end}}
                </div>
            </nav>
        </header>
        <div class="centerContainer">
            <form action class="loginForm" method="post">
                <h3 class="h3title">Create a post</h3>
                <hr class="solidHR">
                <textarea type="text" name="userPostTitle" class="inputBox"
                    maxlength="40" id="userPostTitle"
                    placeholder="Title" contenteditable></textarea>
                <textarea type="body" name="userPostBodyText" class="inputBox"
                    id="createPostBodyText" placeholder="Text (Required)"
                    maxlength="1500"></textarea>
                <label for="item-3" class="toggle">Choose a topic!</label>
                <input type="checkbox" name="one" id="item-3"
                    class="hide-input">
                <div class="toggle-el">
                    <div>
                        {{range .Category}}
                        <input type="checkbox" name="categories"
                            value="{{.Text}}">
                        <label for="category1">{{.Text}}</label><br>
                        {{end}}
                    </div>
                </div>
                <input type="submit" value="Create!" id="submit">
            </form>
        </div>
    </body>
    <script>
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
          tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
          tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
          this.style.height = 0;
          this.style.height = (this.scrollHeight) + "px";
        }
    </script>
</html>