<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>{{.StatusCode}}</title>
    </head>
    <body>
        <header>
            <nav class="fixedContainer">
                <div class="logo-and-home">
                    <div class="menuIcon">
                        <div class="menuIconBars"></div>
                        <div class="menuIconBars"></div>
                        <div class="menuIconBars"></div>
                    </div>
                    <a id="homeArticle" href="/"><img src="/static/styles/Logo1.svg" alt="Logo" class="logo"></a>
                </div>
                <h1 class="forumtitle">Märgatud Kood/Jõhvis</h1>
                    <a id="homeArticle" href="/">Home</a>
                </div>
            </nav>
        </header>
        <h1 style="color: greenyellow; padding-top: 100px;">{{.StatusCode}} -
            {{.Message}}</h1>
    </body>
</html>