<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>Forum</title>
    </head>
    <body>
        <header>
            <div class="fixedContainer">
                <div class="start">
                    <a href="/">Home</a>
                </div>
                <div class="middle">
                    <input type="search">
                </div>
                <div class="end">
                    <a href="/login">Login</a>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="navbar">
                <button>Top</button>
                <button>Hot</button>
                <button>New</button>
            </div>
            <div class="contentMenu">
                <div class="postBar">
                    <div class="likeDiv">
                        <span class="postLikes">10</span>
                        <span class="postDislikes">2</span>
                    </div>
                    <h2 class="postTitle">Hello this is my first post!</h2>
                </div>
                <div class="postBar">
                    <div class="likeDiv">
                        <span class="postLikes">10k</span>
                        <span class="postDislikes">2</span>
                    </div>
                    <h2 class="postTitle">Hello this is my first post!</h2>
                </div>
            </div>
        </div>
        <footer>
            this is a footer
        </footer>
    </body>
</html>