<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>Forum</title>
    </head>
    <body>
        <header>
            <div class="fixedContainer">
                <div class="start">
                    <a href="/">Home</a>
                </div>
                <div class="middle">
                    <input class="searchBar" type="search">
                </div>
                <div class="end">
                    <a href="/login">Login</a>
                </div>
            </div>
        </header>
        <div class="BODY">
            <div class="subCategoriesMain">
                <div class="categories">
                </div>
            </div>
            <div class="main">
                <div class="navbar">
                    <button id="topButton" class="sortButtons">Top</button>
                    <button id="hotButton" class="sortButtons">Hot</button>
                    <button id="newButton" class="sortButtons">New</button>
                </div>
                <div class="contentMenu">
                    <div class="postBar">
                        <div class="likeDiv">
                            <span class="postLikes">10</span>
                            <span class="postDislikes">2</span>
                        </div>
                        <h2 class="postTitle">Hello this is my first post!</h2>
                    </div>
                    <div class="postBar">
                        <div class="likeDiv">
                            <span class="postLikes">100k</span>
                            <span class="postDislikes">2</span>
                        </div>
                        <h2 class="postTitle">Hello this is my first post!</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            this is a footer
        </footer>
    </body>
</html>