<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>Login</title>
    </head>
    <body>
        <div class="centerContainer">
            <form action="http://localhost:8080/login" class="loginForm" method="post">
                <h2>LOG IN</h2>
                <hr class="solidHR">
                <div class="welcome-message">
                    {{if .WelcomeMessage}}
                    {{.WelcomeMessage}}
                    {{end}}
                </div>
                <input type="email" name="email" class="inputBox"
                    placeholder="Enter Email or Username">
                <input type="password" name="password" class="inputBox"
                    placeholder="Enter Password">
                    {{if .ErrorMessage}}
                    <div class="error-message">{{.ErrorMessage}}</div>
                {{end}}
                <input type="submit" value="LOG IN" id="submit">
                <a href="/register">Not a User? Register now!</a>
            </form>
        </div>
    </body>
</html>
