<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>AAAAAAAA</title>
    </head>
    <body>
        <div class="centerContainer">
            <div class="loginForm">
                <hr class="solidHR">
                <h3 class="postTitle"></h3>
                <textarea readonly class="postBar"
                    style="resize: none;"></textarea>
            </div>
        </div>
    </body>
    <script>
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
          tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
          tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
          this.style.height = 0;
          this.style.height = (this.scrollHeight) + "px";
        }
    </script>
</html>