<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/styles/style.css'>
        <title>Post Detail</title>
    </head>
    <body>
        <header>
            <nav class="fixedContainer">
                <div class="start">
                    <div class="menuIcon">
                        <div class="menuIconBars"></div>
                        <div class="menuIconBars"></div>
                        <div class="menuIconBars"></div>
                    </div>
                    <a id="homeArticle" href="/">Home</a>
                </div>
                <div class="middle">
                    <input class="searchBar" type="search"
                        placeholder="Search...">
                </div>
                <div class="end">
                    <a href="/create-a-post" class="margin">New Post</a>
                    <a href="/login">Login</a>
                    <a href="/logout">Logout</a>
                </div>
            </nav>
        </header>
        <div class="postContainer">
            <div class="postHeader">
                <h1 class="postTitle">{{.Post.Title}}</h1>
            </div>
            <div class="postBody">{{.Post.Text}}</div>
            <div class="postActions">
                <span class="likeButton">👍 Like (.likes)</span>
                <span class="dislikeButton">👎 Dislike (.dislikes)</span>
            </div>
            <div class="commentSection">
                <h3>Comments</h3>
                <form method="POST" action="/post/comment?post_id={{.PostID}}">
                    <textarea type="text" name="comment" class="commentInputBox"
                        placeholder="Write a comment..."></textarea>
                    <button type="submit" class="commentSubmit">Submit</button>
                </form>
                <div class="comments">
                    {{range .Comments}}
                        <div class="comment">
                            <p>{{.Text}}</p>
                        </div>
                    {{end}}
             </div>
        </div>
    </body>
</html>
