*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
    max-width: 1920px;
    /* max-height: 1080px; */
    color: white;
}

header  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* DEPRECATED */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2d2d30;
}

.fixedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d30;
    padding: 0 20px;
    height: 60px; /* Adjust based on your design */
    width: 100%;
}


.logo-and-home {
    display: flex;
    align-items: center;
}

.forumtitle {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    padding: 0 50px; 
    font-family: sans-serif; 
    position:absolute;
    left: 38%
}

.logo {
    height: 30px; /* Adjust based on your logo */
    width: auto; /* Maintains aspect ratio */
}

.start {
    padding-left: 0.5rem;
    display: flex;
    justify-self: left;
}

.menuIconBars {
    width: 26px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

#menuIcon {
    cursor: pointer;
}

#menuIcon:hover {
    cursor: pointer;
}

.searchBar {
    max-width: 100rem;
    min-width: 10px;
    width: 30vw;
    height: 1.5rem;
}

.end {
    padding-right: 1em;
    justify-items: flex-end;
}
.end a,
.end #user-info {
    color: white; /* Match the color of the links */
    text-decoration: none; /* Remove underline from links */
    margin-right: 10px; /* Consistent spacing */
    font-size: 16px; /* Match the font size of other elements */
    line-height: 2rem; /* Align vertically within the navbar */
    vertical-align: middle; /* Align text vertically */
    font-family: sans-serif;
}

.end #user-info {
    display: inline; /* Inline display to align with links */
    margin: 0; /* Reset margin for consistent alignment */
    font-weight: normal;
}


.BODY {
    display: flex;
    flex: content;
}

.main {
    margin-top: 80px;
    background-color: #2d2d30;
    border-radius: 1%;
    display: inline-block;
    height: auto;
    max-width: 1920px;
    max-height: 1080px;
    margin-right: 20px;
}

.leftSidebarContainer {
    margin-top: 80px;
    margin-right: 1rem;
    background-color: #2d2d30;
    width: 10rem;
    height: 100%;
}

.topicsArea {
    text-align: center;
}

#topicHead {
    text-align: center;
    margin-top: 4px;
}

.topics {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    border-radius: 10em;
    margin-left: 0.4em;
    text-decoration: none;
}

.topics:hover {
    cursor: pointer;
    color: greenyellow;
}

.topicButtons {
    background-color: #afafaf;
    padding: 0.7em;
    border-radius: 2rem;
}
.contentMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.likeDiv, .postTitle {
    display: block;
}


.postLikes, .postDislikes {
    display: block;
    text-align: center;
    width: 30px;
    font-size: 1rem;
}

.postTitle {
    color: greenyellow;
    font-size: larger; 
    margin-bottom: 15px;
    margin-left: 15px;
}
.postDate {
    font-size: small;
    color: #afafaf;
    text-align: left;
    font-style: italic;
}

.postBar {
    background-color: #494948;
    padding: 2%;
    display: flex;
    align-items: center;
    height: fit-content;
    min-height: 2.2rem;
    max-height: 5rem;
}

.postBar:hover {
    border: rgb(108, 108, 107);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

a::after, a::before, a:hover, a {
    color: white;
    font-style: normal;
    font-family: sans-serif; 
}

.sortButtons {
    color: black;
    background-color: greenyellow;
    padding: 0px 5px 4px 5px;
    text-decoration: none;
}

.postLikes {
    color: rgb(82, 255, 47);
}

.postDislikes {
    color: red;
}

.likeDiv {
    justify-self: start;
    padding-right: 20px;
}

.navBar {
    background-color: black;
}

hr {
    border-color: black;
    margin: 10px;
}

.dropdownName {
    margin-right: 10px
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

#menuIcon {
    display: none;
}

@media only screen and (max-width: 512px) {
    .fixedContainer {
        font-size: 10px;
    }

    .end {
        display: none;
    }

    .postTitle {
        font-size: 15px;
    }
    .logo {
        width: 110px;
    }
    .forumtitle {
        left: 25vw;
        font-size: 1rem;
    }
    #menuIcon {
        display: block;
    }
}

.open .main {
    margin-top: 600px;
}

.open #menuIcon div {
    display: none;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    height: 40px;
    width: 100%;
}

.open .mobile-menu {
    display: flex;
    background-color: #2d2d30;
    justify-content: end;
    padding-right: 9px;
}



.mobile-menu li {
    margin-bottom: 10px;
}

.pageContainer {
    text-align: center;
}

.centerContainer {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 600px;
    margin: auto;
    border-radius: 20px;
    margin-top: 80px;
    background-color: #2d2d30;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.centerContainer h2 {
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    background-color: #2d2d30;
    border-radius: 50px;
    color: greenyellow;
}

.loginForm h2 {
    font-size: 2.5rem;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.loginForm h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.inputBox {
    padding: 12px;
    width: 60%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    background-color: #494948;
    color: aliceblue;
    overflow-x: hidden;
    resize: none;
    user-select: text;

}

#createPostBodyText {
    height: fit-content;
    min-height: 200px;
    resize: vertical;
    overflow: hidden;
}

#userPostTitle {
    overflow-wrap: break-word;
    height: 42px;
    min-height: 42px;
    max-height: 64px;
    overflow-y: hidden;
}

.inputBox::placeholder {
    color: #afafaf;
}

#submit {
    align-self: center;
    padding: 12px 30px;
    width: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    outline: none;
    border-radius: 20px;
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

#submit:hover {
    cursor: pointer;
    background-color: green;
}

.solidHR {
    width: 100%;
    border: 0;
 border-top: 1px solid #afafaf;
    margin-bottom: 20px;
}

.margin {
    margin-right: 10px;
}

.h3title {
    color: white;
    font-size: 2rem;
}
.error-message {
    color: red;
    margin: 10px 0;
}
.welcome-message {
    color: white;
    margin: 10px 0;
    font-family: sans-serif; 
}
.user-exists {
    color: red;
    margin: 10px 0;
}

.noEffectArticle {
    text-decoration: none;
    color: inherit;
}

.postContainer {
    background-color: #494948;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 80px; /* Adjust as needed */
    width: 80%;
    max-width: 800px;
}

.postHeader {
    margin-bottom: 15px;
}

.postTitle {
    color: white;
    font-family: sans-serif;
}

.postUsername {
    display: flex;
    font-size: medium;
    color: greenyellow;
    margin-bottom: 10px;
    align-items: center;
}

.postBody {
    font-size: medium;
    color: white;
    margin-bottom: 20px; /* Space between text and date */
    margin-left: 15px;
    margin-right: 15px;
    word-wrap:break-word;
}

.postActions {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
}

.likeButton, .dislikeButton {
    cursor: pointer;
    user-select: none;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 5px;
}

.likeButton:hover, .dislikeButton:hover {
    color: greenyellow;
}

.commentSection {
    margin-top: 30px;
}

.commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentSubmit {
    background-color: greenyellow;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.commentSubmit:hover {
    background-color: green;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
}

.inline {
    display: inline;
}

.commentSection {
    margin-top: 30px;
    background-color: #626262;
    padding: 15px;
    border-radius: 10px;
}

.comment {
    background-color: #494948;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.commentUsername {
    font-size: 0.85em;
    font-weight: bold;
    color: greenyellow;
    margin-bottom: 8px;
}

.commentText {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #E8E8E8;
    word-wrap: break-word;
    margin-right: 15px;
    margin-left: 15px;
}

.commentDate {
    font-size: 0.75em;
    text-align: right;
    font-style: italic;
    color: #afafaf;
}

.commentInputBox {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: vertical;
    min-height: 80px;
    background-color: white;
    color: black
}

.login-comment-message {
    color: grey; 
    background-color: #f4f4f4; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
    margin: 20px 0; 
    font-size: 1rem; 
}

.toggle-el {
    padding: 1rem;
    max-height: 240px;
    overflow-y: auto;
    background: #f5f5f5;
    transition: all 0.2s ease;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

input[type="checkbox"].hide-input:checked + .toggle-el {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    display: none;
}
.toggle-el input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #000000; 
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 8px; /* spacing between checkbox and label */
}

input.hide-input {
    position: absolute;
    left: -999em;
}

label.toggle {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 1rem;
    color: #fff;
    background: #5a5a5a;
    border-radius: 3px;
    user-select: none;
}

.toggle-el label {
    color: #000; 
    font-size: 0.9rem;
}

.noPostsMessage {
    color: white; 
    font-size: 1.2rem;
    text-align: left;
    margin: 20px 0 20px 10px;
}

.flexDirDown {
    flex-direction: column;
}

.category {
    background: yellowgreen ;
    border: #2d2d30 solid;
    border-radius: 10px;
    color: black;
    padding: 3px;
}

.hoverGreenText:hover {
    color: greenyellow;
}

.hoverGreenText {
    text-decoration: none;
}

.notInline {
    display: block;
}

.avatar {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

.leftright {
    position: relative;
    left: 0;
    right: 0;
}