*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
}

header  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2d2d30;
}

.fixedContainer {
    background-color: #2d2d30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.start {
    padding-left: 1em;
}

.middle {
}

.searchBar {
    width: 20rem;
    height: 1.5rem;
}

.end {
    padding-right: 1em;
}

.BODY {
    display: flex;
    justify-content: flex-start;
    flex: content;
}
.main {
    margin-top: 3rem;
    background-color: #2d2d30;
    width: 70%;
    border-radius: 1%;
    display: inline-block;
}

.subCategoriesMain {
    margin-top: 3rem;
    margin-right: 1rem;
    width: 25%;
    height: 500px;
    background-color: #2d2d30;
}

.contentMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.likeDiv, .postTitle {
    display: block;
}

.postLikes, .postDislikes {
    display: block;
    text-align: center;
    width: 30px;
}

.postTitle {
    display: flex;
    font-size: 0.9rem;
}

.postBar {
    background-color: rgb(73, 73, 72);
    padding: 2%;
    display: flex;
    align-items: center;
}

.postBar:hover {
    border: rgb(108, 108, 107);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

a::after, a::before, a:hover, a {
    color: greenyellow;
    font-style: normal;
}

.sortButtons {
    color: black;
    background-color: greenyellow;
    padding: 4px 5px 4px 5px;
}

.postLikes {
    color: rgb(82, 255, 47);
}

.postDislikes {
    color: red;
}

.likeDiv {
    justify-self: start;
    padding-right: 20px;
}