
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
}

header  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2d2d30;
}

.fixedContainer {
    background-color: #2d2d30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.start {
}

.middle {
}

.end {
}

.main {
    margin-top: 40px;
    background-color: #2d2d30;
    width: 70%;
    border-radius: 1%;
}

.contentMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.likeDiv, .postTitle {
    display: inline-block;
}

.postLikes, .postDislikes {
    display: block;
    text-align: center;
    position: relative;
    transform: translateY(10px);
    margin-right: 10px;
}

.postTitle {
    font-size: 1rem;
}

.postBar {
    background-color: rgb(73, 73, 72);
    padding: 2%;
}